_go_.*
_gotest_.*
_obj
_test
_testmain.go
*.out
*.[568]
src/pkg/peer/version.go
src/cmd/doozerd/doozerd
src/cmd/doozer/doozer
*.css.go
*.js.go
*.html.go
*.pem
*.agree
*-test.sh
*.log
*.DS_Store
.roundup.*
doc/*.html
