body {
    color: #333;
    font-family: monospace;
}

#info {
    background: #ccc;
    padding: .2em .4em;
    margin: 0 0 1em;
    -webkit-border-radius: .4em;
    border-radius: .4em;
}

.error #info {
    background: #d88;
}

.msg {
    display: none;
    background: #ee8;
    -webkit-border-radius: .4em;
    border-radius: .4em;
    padding: 0 .3em;
}

.waiting #waiting.msg, .wereback #wereback.msg {
    display: inline;
}

a {
    color: #35e;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}

#tree {
    opacity: .5;
}

.open #tree {
    opacity: 1;
}

dl {
    margin: 0 0 0 .5em;
    padding: 0;
}

dt {
    font-weight: bold;
    margin: 0;
    padding: 0;
}

dd {
    margin: 0 0 .5em;
    padding: 0 0 0 1em;
}

table {
    border-spacing: 0;
}

tr {
    -webkit-transition-property: background;
    -webkit-transition-duration: 350ms;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-property: background;
    -moz-transition-duration: 350ms;
    -moz-transition-timing-function: ease-in-out;
    transition-property: background;
    transition-duration: 350ms;
    transition-timing-function: ease-in-out;
}

tr.new {
    background: #f7f787;
}

th {
    font-weight: normal;
    margin: 0;
    padding: 0 .5em;
    text-align: left;
}

td.eq:after {
    content: "=";
}

td {
    margin: 0;
    padding: 0 .5em;
}

td.cas {
    color: #aaa;
}

td.body {
}
